.btn {
    z-index: 9999;
}


.outsideWrapper {
    background-color: #a6a6a6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#wrap {
    background-color: blueviolet;
}

* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    display: block;
    margin: unset;
    /*background-image: url('files/background.jpg');*/
}

.App {
    text-align: center;
}

#timer {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 162px;
    z-index: 999;
    color: #f0003c;
    transition: all 100ms ease-out;
    opacity: 0;
}

#kiss-block {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
#kiss-img {
    transition: all 500ms ease-out;
    opacity: 0;
}

.player-img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    margin-top: 100px;
}

.selected {
    border: 15px solid #ffffff;
}


#button {
    cursor: pointer;
}

#wheel {
    transform: translate(-50%, -50%);
}


.bottle-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0.5);
}
